<div class="container">
    <div class="row mb-4 mt-4">
        <div class="tap-cntr">
            <div class="p-1 bg-tap shadow">
                <ul class="nav nav-pills nav-fill" role="tablist">


                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{active: activeLink=='Overall' ? true : false} " href="javascript:void(0)" (click)="changeActiveLink('Overall')">Overall</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{active: activeLink=='Vehicle' ? true : false} " href="javascript:void(0)" (click)="changeActiveLink('Vehicle')">Vehicle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{active: activeLink=='TripLevel' ? true : false} " href="javascript:void(0)" (click)="changeActiveLink('TripLevel')">Trip level</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" routerLink="/">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md">
            <h3>Distance</h3>
            <app-chart-card [graphData]="graphData.distance" [graphType]="'distance'"></app-chart-card>
        </div>
        <div class="col-md">
            <h3>Alarms</h3>
            <app-chart-card [graphData]="graphData.alarms" [graphType]="'alarms'"></app-chart-card>
        </div>

        <div class="col-md">
            <h3>Fuels</h3>
            <app-chart-card [graphData]="graphData.fuels" [graphType]="'fuels'"></app-chart-card>
        </div>
        <div class="col-md">
            <h3>Trips</h3>
            <app-chart-card [graphData]="graphData.trips" [graphType]="'trips'"></app-chart-card>
        </div>
    </div>

</div>